.video-container {
  overflow: hidden;
  position: relative;
  background-color: #73675fcc;
  width: 100%;
}

.video {
  /* border: 2px solid blue; */
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.video-bg {
  /* border: 5px solid red; */
  filter: blur(5px);
  flex-grow: 1;
  background-position: center;
  background-size: 50vw;
  background-repeat: no-repeat;
}

.video-text {
  z-index: 5;
  position: absolute;
  bottom: 10%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  font-family: "Hurricane", cursive;
  color: white;
}

#photo1 {
  background-image: url("../img/photo-1.png");
}

#photo2 {
  background-image: url("../img/photo-2.png");
}

video {
  height: 100%;
}

@media only screen and (max-width: 800px) {
  #photo1 {
    background-image: none;
  }
  #photo2 {
    background-image: none;
  }
  .video {
    height: 70vh;
  }
  .video-text {
    display: none;
  }
}
